/* Styling for article tag */
.places {
    /* margin-top: 20px; */
    text-align: center;
    position: relative;
    display: table;
    border-spacing: 20px;   
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

.places article {
    /* display: flex;  */
    /* flex-direction: column; */
    position: relative;
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    /* margin-bottom: 20px; */
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 14px;

    /* display: table-cell; */
    
    /* vertical-align: top;  */
}

.places article::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent; 
    z-index: -1;
}

article > h2{
    text-align: center;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}


/* Styling for the price tag */
.price_by_night {
    position: absolute;
   
    min-width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 30px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50px;
    display: flex;
    right: 10%;
    /* margin-right: 30px; */
    text-align: center;
    top: 4%;
    align-items: center;
}

/* Styling for information class */
.max_guest{
    width: 100px;
    background-image: url('../images/Hbnb_icon_group.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.max_guest > p{
    padding-top: 35px;
    padding-right: 43px;
}

.number_rooms{
    width: 100px;
    background-image: url('../images/Hbnb_icon_bed.png');
    background-repeat: no-repeat;
}

.number_rooms > p{
    padding-top: 35px;
    padding-right: 10px;
}

.number_bathrooms{
    width: 100px;
    background-image: url('../images/Hbnb_icon_bath.png');
    background-repeat: no-repeat;
}

.number_bathrooms > p{
    padding-top: 35px;
    padding-right: 10px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information div {
    width: 100px;
    display: flex;
    align-items: center;
}

/* Styling for user and descrition classes */
.user, 
.description{
    margin-top: 10px;
    text-align: left;
}



